html, body, #root {
    height: 100%;
    margin: 0;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #606060;
    font-family: 'Inter', sans-serif;
}

.main-content {
    flex: 1;
}